.field {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(150, 255, 150);
  border: 1px solid black;
  margin: 1px;
  font-weight: 600;
}

.field.occupied {
  background: rgb(255, 118, 118);
}

.field:hover {
  opacity: 0.5;
}

.field.dragover {
  opacity: 0.5;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

.fieldimage {
  width: 100%;
}


.navbutton {
  background: lightblue;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(218, 218, 218);
}

.navbutton:hover {
  background: rgb(192, 221, 231);

}

.navlink {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.onholdarea {
  /* background: rgb(240, 240, 240); */
  padding: 5px;
}

.holdcard {
  user-select: none;
  background: lightgreen;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px 2px rgba(99, 121, 99, 0.308) ;
  margin: 10px 0;

}