.shelf {
  background: rgb(187, 187, 187);
  padding: 5px;
  font-weight: 600;
}

.rack {
  width: 100%;
  height: 100px;
  background: lightcoral;
  border: 1px solid black;
  color: black
}

.rack:hover {
  background: rgb(243, 155, 155);
}


.rackrow {
  background: rgb(187, 187, 187);
  height: 100px;
  padding: 5px
}

.rackcol {
  background: lightcoral;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: block;
}
